.mat-card{
    max-width: 300px;
    margin:auto;
}

.mat-card-avatar{
    background-image: url('/assests/img/phAvi.png');
    background-size: cover;
}

.mat-card-actions {
    display: flex;
}

.mat-card-actions {
    width: 100%;
}