<div class="main-div">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar>
                <img src="" class="header-image">
            </div>

            <mat-card-title>Welcome, User</mat-card-title>
            <mat-card-subtitle>user@email.com</mat-card-subtitle>
        </mat-card-header>

        <p> User_Name: 
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email"
                    placeholder="Ex. pat@example.com">
              </mat-form-field>
</p>

        <mat-card-content>
            <p>User_name: </p>
            <p>User_email: </p>
            <p>User_password: </p>
            <p>User_type: </p>
        </mat-card-content>
      
        <mat-card-actions>
            <button mat-button style=
                "background-color:blue; color:white">
                EDIT
            </button>
        </mat-card-actions>
    </mat-card>
</div>
