<div class="container">
    <form class="row border shadow rounded my-5 p-5">

        <div class="h2 col-12 fw-bolder text-center my-3">Shopping Cart</div>
        <div *ngIf="myOrders.length == 0" class="h5 col-12 fw-bolder text-center my-5">Cart is Empty...</div>
        <div *ngIf="myOrders.length > 0" class="h5 col-12 fw-bolder text-center my-5">ITEMS: {{dbTotal}}</div>


        <div *ngFor="let order of myOrders" class="row">
            <div class="col-4 d-flex flex-column my-3">
                <!-- If product's picture does not exist -->
                <i *ngIf="order.productPic == null" class="fas fa-shopping-bag d-flex justify-content-center display-1"></i>
                <!-- If product's picture exists -->
                <img *ngIf="order.productPic != null" src="{{order.productPic}}" alt="Photo of {{order.productId}}">
            </div>
            <div class="col-8 d-flex flex-column my-3">
              <div>
                <div class="row h5">
                    <div class="col-6 py-2">{{order.productName}} </div>
                    <!-- If discount rate does not exist -->
                    <!--div *ngIf="!order.discount" class="col-6 py-2">{{order.orderPrice | currency}}</div-->
                    <!-- If discount rate exists -->
                    <!--div *ngIf="order.discount" class="col-6 py-2">{{order.orderPrice | currency}}</div-->
                    <!--div class="col-5 d-flex justify-content-end py-2"></div-->
                    <div class="col-2 d-flex justify-content-start py-2">Price: {{order.orderPrice| currency}}</div>

                    <div class="col-5 d-flex justify-content-end py-2"> </div>
                    <div class="col-2 d-flex justify-content-start py-2">Quantity:{{order.orderQuantity | number}}</div>
                </div>

                    <div class="col-2 d-flex justify-content-start py-2">{{order.orderTotal}}</div>
                    <a class="col-5 text-danger py-2" style="cursor: pointer;" (click)="removeFromCart(order.productId)">Delete</a>
                </div>

            </div>
        </div>

        <div class="offset-2 col-8 offset-md-3 col-md-6 offset-lg-4 col-lg-4 d-flex flex-column my-3 h5 text-center">
            <div>Subtotal: {{_subTotal | currency}}</div>
        </div>

        <div class="offset-1 col-10 offset-md-3 col-md-6 offset-lg-4 col-lg-4 d-flex flex-column my-3">
            <button *ngIf="_isLoggedIn" type="submit" class="btn btn-success fw-bold my-3" routerLink="/checkout">Checkout</button>
            <button *ngIf="!_isLoggedIn" type="submit" class="btn btn-success fw-bold my-3" disabled>Please Log In to Checkout</button>
        </div>

    </form>
</div>
