<div>
  <p>
    <button (click)="jwtTest()">JwtTest Button</button>
  </p>
</div>

<mat-card class="featured">
    <mat-card-title>Featured Products</mat-card-title>
    <mat-card class="featuredProduct" fxLayout="row">

        <tr *ngFor="let f of featured">
            <ul>
                <div class="productName"><h1>{{f.productName}}</h1></div>
                <div>{{f.discountRate}}% Discount!</div>
                <i *ngIf="f.productPic == null" class="fas fa-shopping-bag d-flex justify-content-center display-1 displaypic"></i>
                <img *ngIf="f.productPic != null" class="displaypic" src="{{f.productPic}}">
                <div class="productPrice">{{f.productPrice | currency:"USD"}}</div>
                <div>
                    <button class="addToCartButton" mat-raised-button (click)="addToCart(f)">Add to Cart</button>
                    <mat-form-field class="quantity">
                        <mat-label>Quantity</mat-label>
                        <input type="number" matInput name="amount" min=1 max="{{f.productQuantity}}" [(ngModel)]="f.amount">
                    </mat-form-field>
                </div>
            </ul>
        </tr>
    </mat-card>
</mat-card>

<div class="search">
    <mat-form-field appearance="fill" class="searchBar">
        <mat-label>Product Search</mat-label>
        <input matInput type="text" [(ngModel)]="term">
        <button matSuffix mat-icon-button aria-label="search" (click)="searchProduct(term)">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</div>

<div class="allProduct ">

    <div class="producttosell" *ngFor="let p of product">
        <div class="space">
            <td class="pic">
                <div class="productName"><h1>{{p.productName}}</h1></div>
                <i *ngIf="p.productPic == null" class="fas fa-shopping-bag d-flex justify-content-center display-1 displaypic"></i>
                <img *ngIf="p.productPic != null" id="productPic" class="displaypic" src="{{p.productPic}}"></td>

            <td class="items">

                <tr>
                    <div class="description">{{p.description}}</div>
                </tr>
            </td>
            <td class="checkout">
                <tr><span class="productPrice"><h2>{{p.productPrice | currency:"USD"}}</h2></span></tr>
                <tr>
                    <mat-form-field class="quantity">
                        <mat-label>Quantity</mat-label>
                        <input type="number" matInput name="amount" min=1 max="{{p.productQuantity}}" [(ngModel)]="p.amount">
                    </mat-form-field>
                    <button class="addToCartButton" mat-raised-button (click)="addToCart(p)">Add to Cart</button>
                </tr>

            </td>
        </div>
    </div>
</div>