<div>
  <p>
    <button (click)="jwtTest()">JwtTest Button</button>
  </p>
</div>

<div class="featured">
    <a>Items on Sale</a>
    <div class="featuredProduct">

        <tr *ngFor="let f of featured">
            <ul>
                <div class="productName">{{f.productName}}</div>
                <img class="displaypic" src="{{f.productPic}}">
                <div class="productPrice">{{f.discountRate}} %</div>
                <div class="productPrice">${{f.productPrice}}</div>
                <div>Quantity: <input class="quantity" type="number" name="amount" min="1" max="{{f.productQuantity}}" [(ngModel)]="f.amount"></div>
                <div><button (click)="addToCart(f)">Add to Cart</button></div>
            </ul>
        </tr>
    </div>
</div>
<div class="search">
    <input class="input" type="text" placeholder="Search for your new items" [(ngModel)]="term">
    <button (click)="searchProduct(term)">Search</button>
</div>

<div class="allProduct ">

    <div class="producttosell" *ngFor="let p of product">
        <div class="space">
            <td class="pic">
                <div class="productName">{{p.productName}}</div>
                <img id="productPic" class="displaypic" src="{{p.productPic}}"></td>

            <td class="items">

                <tr>
                    <div class="description">{{p.description}}</div>
                </tr>
            </td>
            <td class="checkout">
                <tr><span class="productPrice">${{p.productPrice}}</span></tr>
                <tr>Quantity: <input class="quantity" type="number" name="amount" min="1" max="{{p.productQuantity}}" [(ngModel)]="p.amount"></tr>
                <tr><span Class="button"><button  (click)="addToCart(p)">Add to Cart</button>
                </span></tr>

            </td>
        </div>
    </div>
</div>