        div.featuredProduct tr {
            display: inline-block;
            text-align: center;
            padding: 5px;
            text-decoration: none;
            border: 5px solid #ff9800;
            margin: 0.25rem;
        }
        
        div.featuredProduct {
            overflow: auto;
            white-space: nowrap;
        }
        
        td.pic {
            width: 10%;
        }
        
        div.pic {
            width: 120px;
            height: auto;
        }
        
        div.featured {
            background-color: #474C55;
            color: #ff9800;
            text-align: center;
            font-size: 18px;
            padding: 0.5rem;
        }
        
        div.space {
            border-radius: 5px;
            background-color: #ff9900;
            color: black;
            width: 100%;
            padding: 10px;
        }
        
        div.allProduct div.producttosell {
            padding: 10px;
        }
        
        div.allProduct div.productName {
            text-align: left;
            padding-top: 1px;
            font-size: 18px;
        }
        
        div.allProduct {
            padding: 25px;
        }
        
        td.checkout {
            text-align: center;
            width: 20%;
        }
        
        input.quantity {
            width: 35%;
            text-align: right;
        }
        
        td.items {
            width: 75%;
            overflow-wrap: break-word;
            padding: 2px;
        }
        
        div.description {
            overflow-wrap: anywhere;
        }
        
        td.pic img.displaypic {
            width: 200px;
        }
        
        img.displaypic {
            min-width: 100px;
            max-width: 300px;
            min-height: 100px;
            max-height: 200px;
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;
        }

        i.displaypic {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
        
        .search {
            text-align: center;
            padding-top: 10px;
        }
        
        .input {
            width: 70%
        }

        mat-form-field.quantity {
            width: 6rem;
            padding-left: 0.5rem;
        }

        mat-form-field.searchBar {
            width: 70%;
        }

        button.addToCartButton {
            background-color: #72A4C2;
            color: black;
        }